songlist{
  display: flex;
  flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

song{
     display: block;
     border: 1px solid black;
     margin: 10px;
     padding: 10px;
     width: 50%;
     background-color: yellowgreen;
}

artist{
  border: 1px solid black;
  padding: 2px;
}

title, artists, genres, publish_date{
    display: block;
    text-align: center;
}

title {
  font-weight: bold;
  padding: 5px;
}
